<div
  class="closable backdrop"
  (click)="closeIt.emit()"
  (keyup.esc)="closeIt.emit()"
  role="none"
></div>

<div class="closable modal-dialog">
  <mat-card>
    <mat-card-title>{{ modal.title }}</mat-card-title>
    <mat-card-content>{{ modal.message }}</mat-card-content>
    <mat-card-content class="footer">
      <button (click)="cancel.emit()" mat-raised-button color="basic">
        Ähm No
      </button>
      <button (click)="closeIt.emit()" mat-raised-button [color]="modal.type">
        Oki doki
      </button>
    </mat-card-content>
  </mat-card>
</div>
